extends ./layout/_document

block stylesheets

block content
  include ./layout/_navs
  .chart-container
  include ./layout/_loading
block scripts
  script(src='/dist/app.bundle.js')
  script(src='/dist/budget-proposal.bundle.js')
  