extends ./layout/_document
- var activeTab = 'demos'

block stylesheets
block content
  include ./layout/_navs
  .content-container
      #Demos.tabcontent
        ul.collapsible(data-collapsible='accordion')
          li
            .collapsible-header
              | Real-time Air Pollution Data in China
            .collapsible-body
              p 
                | This is a complete example of data visualization, including how
                | to fetch data from a website, which is usually a web crawler, which
                | is, in this case, Cheerio. At back-end, we get a json serialized object 
                | indicating the pm2.5 degree of each city.
                | At front-end, we use ECharts, which is a data visualization library provided
                | by Baidu. 
                a(href='/demo/air-pollution') Check the demo here
          li
            .collapsible-header
              | Global Price and Earning in 2012
            .collapsible-body
              p
                | This is a relatively complicated example, in which you can see the power of 
                | data visualization. We combine 
                strong map, charts, drag and select interaction 
                | in one single demo. 
                a(href='/demo/price-and-earnings') Check the demo here
          li
            .collapsible-header
              | Global Flight Routes of Different Brands 
            .collapsible-body
              p
              | In this case, we show the global flight routes in a mocked globe of earth. 
              | With Different brands, you can see the different routes, density of where the 
              | routes lie in. The advanced 
              strong 3-Dimension 
              | mocking is especially user-friendly and attractive. You can even do drag and 
              | zoom in(out). This is done by dispatching a echarts action. 
              a(href='/demo/world-flight') Check the demo here
          li
            .collapsible-header
              | 2012 Obama's Budget Proposal
            .collapsible-body
              p
                strong Treemaps 
                | are an alternative way of visualising the hierarchical 
                | structure of a Tree Diagram while also displaying quantities for 
                | each category via area size. Each category is assigned a rectangle 
                | area with their subcategory rectangles nested inside of it. When a
                | quantity is assigned to a category, its area size is displayed in 
                | proportion to that quantity and to the other quantities within the
                | same parent category in a part-to-whole relationship. 
                a(href='/demo/budget-proposal') Check the demo here
          li
            .collapsible-header
              | Heat Map of Daily Activity
            .collapsible-body
              p
                | You can see this type of charts everywhere. Github uses this kind of 
                | map to count contribution of your account, indicating your activity. 
                a(href='/demo/heat-map') Check the demo here
block scripts
  script(src='/dist/app.bundle.js')