extends ./layout/_document
- var activeTab = 'how'

block stylesheets
block content
  include ./layout/_navs
  .content-container
    .tabcontent-container
      #How.tabcontent
        h3 How
        p How should we do it?

block scripts
  script(src='/dist/app.bundle.js')
