extends ./layout/_document
- var activeTab = 'how'

block stylesheets
block content
  include ./layout/_navs
  .content-container
    .tabcontent-container
      #How.tabcontent
        h3.how-title Back-End
        img(src='/images/expressjs.png', style="width:300px")
        h3.how-title Front-End
        img(src='/images/echarts.png')
        img(src='/images/d3.jpeg', style="width:110px;")
        h3.how-title What Else?
        img(src='/images/jade.png')
        img(src='/images/webpack.jpeg')
        img(src='/images/babel.jpeg')
block scripts
  script(src='/dist/app.bundle.js')
