extends ./layout/_document
- var activeTab = 'what'

block stylesheets
block content
  include ./layout/_navs
  .content-container
    .tabcontent-container
      #What.tabcontent
        h3 What
        p What is Data Visualization?

block scripts
  script(src='/dist/app.bundle.js')
