extends ./layout/_document
- var activeTab = 'what'

block stylesheets
block content
  include ./layout/_navs
  .content-container
    .tabcontent-container
      #What.tabcontent
        h3 What
        p 
          | Data visualization or data visualisation is viewed by many disciplines as a 
          | modern equivalent of visual communication. It involves the creation and study 
          | of the visual representation of data, meaning "information that has been 
          | abstracted in some schematic form, including attributes or variables for the 
          | units of information".
        br
        p
          | A primary goal of data visualization is to communicate information clearly 
          | and efficiently via statistical graphics, plots and information graphics. 
          | Numerical data may be encoded using dots, lines, or bars, to visually 
          | communicate a quantitative message. Effective visualization helps users 
          | analyze and reason about data and evidence. It makes complex data more 
          | accessible, understandable and usable. Users may have particular analytical 
          | tasks, such as making comparisons or understanding causality, and the design 
          | principle of the graphic (i.e., showing comparisons or showing causality) 
          | follows the task. Tables are generally used where users will look up a 
          | specific measurement, while charts of various types are used to show 
          | patterns or relationships in the data for one or more variables.
        br
        p
          | Data visualization is both an art and a science. 
          | It is viewed as a branch of descriptive statistics by some, 
          | but also as a grounded theory development tool by others. 
          | Increased amounts of data created by Internet activity and an 
          | expanding number of sensors in the environment are referred to 
          | as "big data" or Internet of things. Processing, analyzing and 
          | communicating this data present ethical and analytical challenges for 
          | data visualization. The field of data science and practitioners called 
          | data scientists help address this challenge.
        br
        p.reference
          strong Check it from 
            a(href="https://en.wikipedia.org/wiki/Data_visualization") here

block scripts
  script(src='/dist/app.bundle.js')
