extends ./layout/_document
- var activeTab = 'why'

block stylesheets
block content
  include ./layout/_navs
  .content-container
    .tabcontent-container
      #Why.tabcontent
        h3 Why should we leverage data visualization?
        p 
          | Data visualization, the visual representation of data, is more scientific 
          | than artistic in our modern world. The main goal of data visualization is 
          | effectively, efficiently, elegantly, accurately as well as meaningfully 
          | communicating information. It fulfills its objectives only if it encodes 
          | the given input in such a manner that our eyes can recognize and our brain 
          | can comprehend.
        br
        p
          | The process of reaching the goal of data visualization is in progress 
          | and is improving each day. The key to a success is delivering relevant 
          | data related to sales, customer satisfaction, employee performance 
          | assessments, inventory levels, network performance, and accurate web 
          | sites presented at the right time.
        br
        h3 Why Web?
        p Because it's 
          strong.dope DOPE
block scripts
  script(src='/dist/app.bundle.js')
