extends ./layout/_document
- var activeTab = 'why'

block stylesheets
block content
  include ./layout/_navs
  .content-container
    .tabcontent-container
      #Why.tabcontent
        h3 Why
        p Why should we leverage data visualization?

block scripts
  script(src='/dist/app.bundle.js')
