extends ./layout/_document

block stylesheets

block content
  include ./layout/_navs
  .chart-container
  include ./layout/_loading
block scripts
  script(src='https://rawgit.com/ecomfe/echarts-gl/master/dist/echarts-gl.min.js')
  script(src='/dist/app.bundle.js')
  script(src='/dist/world-flight.bundle.js')
  