* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  .nav {
    .tab {
      position: fixed;
      width: 100%;
      background: maroon;
      height: 50px;
      font-weight: bold;
      font-family: monospace;
      a {
        &:first-child {
          margin-left: 70px;
        }
        &.active {
          text-decoration: underline;
        }
        position: relative;
        top: 12px;
        margin-right: 30px;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color: white;
      }
    }
  }
  .content-container {
      position: relative;
      top: 50px;
      padding: 30px 70px;
      font-family: monospace;
    .chart-container {
      display: none;
      margin: 0 auto;
      width: 700px;
      height: 700px;
    }
    .liquidfill {
      display: block;
      margin: 0 auto;
      width: 400px;
      height: 400px;
    }
    .loading-spinner {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .fa {
        display: inline-block;
        font-size: 60px;
        animation: spin linear 1.5s infinite;
      }
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

/* Copy and paste the stupid shit*/
.content-container {
  

  /* Style the tab content */
  .tabcontent {
    display: none;
    display: relative;
    top: 50px;
    animation: fadeEffect 1s;
    &.active {
      display: block;
    }
  }
  .tabcontent-container {
    
  }
}


/* Fade in tabs */
@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}