
- var title = 'Front-End Data Visualization'

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
     //- include shit cdn dependencies bc of some fucking errors
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(rel='stylesheet', href='/dist/style.css')
    block stylesheets
  body
    block content
    //- include shit cdn dependencies bc of some fucking errors
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/echarts/3.5.4/echarts.min.js')
    block scripts
