.nav
  .tab
    a.tablink(href='/what', class= activeTab === 'what' ? 'active' : '') What
    a.tablink(href='/why', class= activeTab === 'why' ? 'active' : '') Why
    a.tablink(href='/how', class= activeTab === 'how' ? 'active' : '') How
    a.tablink(href='/demos', class= activeTab === 'demos' ? 'active' : '') Demos    
    //- a.github(href='https://github.com/thomasyimgit/Front-End-Data-Visualization') Fork me on Github 
      .fa.fa-github(aria-hidden=true)
    