.nav
  .tab
    a.tablink.active(href='#what') What
    a.tablink(href='#why') Why
    a.tablink(href='#how') How
    a.tablink(href='#demos') Demos    
    //- a.github(href='https://github.com/thomasyimgit/Front-End-Data-Visualization') Fork me on Github 
      .fa.fa-github(aria-hidden=true)
    